body{
    margin: 0px;
    padding: 0px;
}

#sortable {
    list-style-type: none;
    padding: 0;
    width: 60%;
    margin: auto;
}
#sortable li {
    margin: 0 5px 20px 5px;
    padding: 5px 5px 5px 20px;
    font-size: 1.2em;
    height: 1.5em;
    font-family: 'Handlee', cursive;
    border-radius: 15px;
}

html>body #sortable li {
    height: 1.5em;
    line-height: 1.2em;
}
.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}
.nav{
    background-color: #2F80ED;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo{
    font-family: 'Handlee', cursive;
    font-size: 64px;
    color: #F2F2F2;
    text-align: center;
    flex-grow: 1;
}
.login{
    font-family: 'Handlee', cursive;
    font-size: 24px;
    color: #F2F2F2;
    text-decoration: underline;
    padding-right: 10px;
    flex-grow: 0;
}

